{% extends 'inventory/base.html' %}

{% block title %}Delete {{ house.name }} | Hogwarts Inventory{% endblock %}

{% block content %}
<div class="card">
    <h1>Delete {{ house.name }}?</h1>
    <p class="warning">This will also delete every item that belongs to {{ house.name }}. This can't be undone.</p>
    <form method="post">
        {% csrf_token %}
        <div class="actions">
            <button type="submit">Delete</button>
            <a href="{% url 'house_detail' house.pk %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
