{% extends 'inventory/base.html' %}
{% load inventory_extras %}

{% block title %}{{ house.name }} | Hogwarts Inventory{% endblock %}

{% block content %}
<div class="card card-detail">
    <h1><span class="house-dot house-{{ house.name|house_slug }}"></span>{{ house.name }}</h1>
    <dl>
        <dt>Founder</dt>
        <dd>{{ house.founder }}</dd>
        <dt>Common room</dt>
        <dd>{{ house.common_room }}</dd>
        <dt>Points</dt>
        <dd>{{ house.points }}</dd>
    </dl>
    <a class="back-link" href="{% url 'house_update' house.pk %}">Edit</a>
    <a class="back-link" href="{% url 'house_delete' house.pk %}">Delete</a>
    <a class="back-link" href="{% url 'house_list' %}">&larr; Back to houses</a>
</div>
{% endblock %}
